body{
font-family:Arial;
background:#f4f4f4;
}

.header{
background:#158033;
color:white;
text-align:center;
padding:15px;
}

.content{
width:300px;
margin:auto;
background:rgb(96, 73, 187);
padding:20px;
}

input{
width:100%;
padding:8px;
margin-top:5px;
}
.footer{
background:#158033;
color:white;
text-align:center;
padding:10px;
}