body{
font-family: Arial;
background:#f0f0f0;
margin:0;
}

.header{
background:#431159;
color:white;
text-align:center;
padding:10px;
}

.content{
background:rgb(255, 255, 255);
padding:20px;
margin:20px;
}

.footer{
background:#2d1650;
color:white;
text-align:center;
padding:10px;
}