.header{
background:#046b8d;
color:rgb(249, 253, 249);
text-align:center;
padding:15px;
}

.content{
text-align:center;
padding:20px;
}

img{
border:5px solid rgb(0, 255, 94);
border-radius:5px;
}

.footer{
background:#046b8d;
color:white;
text-align:center;
padding:10px;
}